//tools
@import '../sass/tools/_variables'
@import '../sass/tools/_extends'

//general
@import '../sass/general/_reset'
@import '../sass/general/_body'

//==================== INDEX.HTML - START =====================

//====== header start =================================
.navbar, .containerNavbar
    padding: 0

#logo
    height: 200px
    width: 200px

#menu-active
    color: $bluelight

.menu
    color: $blue

//======= header end =================================

//======== main start =========================
#nameEnterprise
    text-align: center
    margin-top: 30px
    background: linear-gradient(360deg, #5FC8D4 25%,#FF0080 50%, #FF875C 75%, #311199 100%)
    background-clip: border-box
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 5em

#containerImage
    @extend %flex-center
    display: flex
    flex-direction: column

#illustrationFormation
    height: 500px
    width: 700px
    border-radius: 50%

#paratopLeft
    color: $blue
    margin-top: 50px
    margin-left: 100px
    font-size: 2em

#parabottomRight
    color: $orange
    display: flex
    justify-content: end
    margin-right: 100px
    margin-top: 50px
    font-size: 2em

#containerCard
    @extend %flex-center

.card
    background-color: #f5f5f5

.card-title 
    text-align: center
    color: $orange

.small
    font-size: 0.8rem
    color: $blue
    margin-top: 15px

.big
    font-size: 1.5rem
    color: $blue
    height: 108px

#containerQualiopi
    display: flex
    justify-content: center

#containerTitleQualiopi
    display: flex

#titleQualiopi
    display: flex
    align-items: center
    color: $blue

#certification
    display: flex

#descriptionQualiopi
    width: 50%
    border-right: double $orange
    margin-left: 100px

#solutionFormationQualiopi
    width: 50%

#logoQualiopi
    margin: 10px

#textQualiopi
    margin: 10px
    padding-right: 10px

#textSolutionFormationQualiopi
    margin: 10px

.solutionFormation
    background: linear-gradient(360deg, #5FC8D4 25%,#FF0080 50%, #FF875C 75%, #311199 100%)
    background-clip: border-box
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

#containerHandicapLogo
    display: flex
    margin-top: 10%

#containerHandicap
    width: 50%

#titleHandicap
    margin-top: 30px
    text-align: center
    color: $orange

#textHandicap
    margin: 50px
    text-align: center

#containerLogoHandicap
    margin-left: 10%
    margin-top: 1%

.logoHandicap
    width: 200px
    height: 200px

#containerCounters
    display: flex
    justify-content: space-around
    margin-top: 5%

#counter1, #counter2
    text-align: center
    font-size: 3rem
    color: $pink

.textCounter
    color: $blue

#containerChoiceForamtion
    margin-top: 10%

#titleChoiceFormation
    text-align: center
    color: $orange
    font-size: 2rem
    margin-bottom: 5%

#subTitleChoiceFormation
    display: flex
    justify-content: center
    margin-left: auto
    margin-right: auto
    margin-bottom: 5%
    color: white
    background: $orange
    width: 70%

.textChoiceFormation
    color: $blue

#containerForms
    display: flex
    margin-top: 5%
    margin-left: 5%

#subTitleForm
    color: $orange

#titleForm
    color: $pink

.containerForm
    display: flex
    align-items: flex-start

.containerIcon
    display: flex
    align-items: center
    margin-right: 1%

.icon
    color: $orange

.textForm
    margin-bottom: 1%

#logoQualiopiForm
    margin-right: 2%

#boxInput
    margin-right: auto
    margin-left: auto

.containerFormInput
    display: flex
    flex-direction: column

form > input
    width: 100%
    margin-bottom: 10px
    height: 50px
    border-radius: 10px
    border: 1px none
    background: rgba(107, 127, 176, 0.3)

#message
    width: 100%
    margin-bottom: 10px
    height: 135px
    border-radius: 10px
    border: 1px none
    background: rgba(107, 127, 176, 0.3)

#btnForm
    width: 100%
    height: 50px

//======== main END =========================

//======== FOOTER START =========================

footer
    display: flex
    justify-content: end

#signature
    color: rgba(156, 154, 43, 0.933)
    font-family: destroy
    font-size: 0.8rem

#copyright
    font-family: destroy
    font-size: 0.5rem

//======== FOOTER END =========================

//==================== INDEX.HTML - END =====================


//==================== PRESENTATION.HTML - START =====================

//======== main START =========================

#containers-presentation
    display: flex
    flex-direction: row-reverse
    justify-content: center
    align-items: center
    margin-top: 5%
    margin-bottom: 5%

#container-title-para
    display: flex
    flex-direction: column

#title-presentation
    text-align: center

#container-presentation
    height: 342px
    width: 300px


#img-presentation
    border-radius: 30px
    opacity: 0.7

.para-presentation
    color: $orange
    font-size: 1.2rem

#title-presentation
    color: $blue
    font-size: 5em

#title-presentation, .para-presentation
    text-align: end

#container-article
    display: flex
    margin: 30px
    text-align: justify

#container-logo-article
    float: right
    padding-right: 20%
    padding-bottom: 15%

#box
    position: relative
    left: 40%
    height: 250px
    width: 250px
    background-color: $orange
    border-radius: 30px

#logo-article
    width: 100px
    height: 100px

#image-article
    position: relative
    bottom: -40px
    left: -40px
    width: 250px
    height: 250px
    border-radius: 30px

#container-title-article
    display: flex
    align-items: center
    justify-content: center
    width: 60%

.crochets
    color: $orange

.para
    margin-right: 10px

.para2
    margin: 100px 100px 0 20px
hr
    color: $orange
//==================== PRESENTATION.HTML - END =====================

//==================== NOSFORMATIONS.HTML - START =====================
#container-formation
    height: 800px

#container-formation-ti
    display: flex
    justify-content: space-around
    margin: 20px

#container-formation-title
    display: flex
    justify-content: center
    width: 50%
    height: 30%

#container-formation-imgworld
    width: 70%

#imgWorld
    width: 100%
    height: 60%
    border-radius: 50%

#container-formation-para
    position: absolute
    width: 50%
    background-color: white
    border-radius: 0 30% 30% 0
    height: 55%
    left: 0
    top: 45%
    text-align: left

#formation-para-title, #formation-para
    margin-top: 15%
    margin-left: 15%

#formation-para-title
    font-size: 3rem
    color: $orange

#formation-para
    font-size: 2rem
    color: $blue

#container-objectifs
    width: 100%
    height: 500px

#objectifs-title, #objectifs-para
    text-align: center

#objectifs-title
    font-size: 3rem
    margin-top: 10%
    color: $blue

#objectifs-para
    font-size: 2rem
    color: $orange

#container-mockup
    display: flex
    justify-content: flex-start
    height: 800px

#mockup-image
    margin-left: 100px
    height: 800px
    width: 800px
    border-radius: 30px
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

#container-mockup-para
    border-radius: 30px
    margin-top: 200px
    margin-left: -200px
    height: 400px
    width: 1000px
    background-color: $orange

#mockup-title, #mockup-para
    text-align: center

#mockup-title
    color: $blue
    font-size: 3rem

#mockup-para
    font-size: 2rem

#boxblue
    position: relative
    height: 100px
    width: 100px
    background-color: rgba(49, 17, 153, 0.8)
    border-radius: 50%
    margin-top: -50px
    margin-left: -50px

#container-responsable
    display: flex
    justify-content: center
    margin-top: 100px

#responsable-img
    border-radius: 30px

#container-responsable-para
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    height: 640px
    width: 561px

#responsable-title
    font-size: 3rem
    color: $blue

#responsable-para
    font-size: 1.2rem
    color: $orange

#select-formation-title
    text-align: center
    color: $orange
    margin-top: 100px
    font-size: 3rem
    margin-bottom: 50px

.select-formation-para
    text-align: center

.sf-para1
    font-size: 2rem
    color: $blue


.sf-para2
    font-size: 1.2rem
    color: $orange

.container-select-formation
    display: flex
    justify-content: center
    margin-bottom: 100px

.select-formation-card
    text-align: center
    width: 600px
    height: 400px
    background-color: rgba(0, 0, 0, 0.1)
    border-radius: 30px
    padding: 50px

.select-formation-para1
    color: $pink

.select-formation-para2
    color: white

.sfpara1
    font-size: 1.5rem

.sfpara2
    font-size: 2.5rem

.sfcard1, .sfcard2
    margin-right: 5px

#container-objectif
    display: flex
    justify-content: center

.objectif-card
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    width: 400px
    height: 500px
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px

.objectif-st
    display: flex
    flex-direction: column
    align-items: center
    height: 30%
    padding: 50px

.container-objectif-para
    display: flex
    align-items: center
    height: 70%

.objectif-svg
    font-size: 2rem
    color: $orange

.objectif-title
    color: $blue

.objectif-para
    padding: 20px
    text-align: center
//======== MODAL START =========================

.modal-content
    background-color: #090909

.titleSignature
    text-align: center
    color: rgba(156, 154, 43, 0.933)
    font-family: destroy
    font-size: 2em

.subTitleSignature
    text-align: center
    color: white
    font-family: destroy
    font-size: 0.8em

.facebook:hover
    color: #3b5998


.twitter:hover
    color: #3cf


.instagram:hover
    color: #bd38a0


.social-btns 
    padding: 3px
    text-align: center


.facebook, .twitter, .instagram 
    margin: 5px
    color: rgba(156, 154, 43, 0.933)

#containerButtonClose
    display: flex
    justify-content: center

#buttonClose
    width: 100px
    margin-top: 50px
    color: rgba(156, 154, 43, 0.933)